<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.js" integrity="sha512-/neJlLJd4uMmOT+U6iaXJy/K78izYGSD4rydOy38ToXwUBbBJMU95jEQqROGPuuHupx/G1AlqGV2zYJWGyrsUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'DiscoFlixClient/css/style.css' %}">
        <link rel="icon" href="{% static 'DiscoFlixClient/images/favicon.png' %}">  
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head %}
        {% endblock %}

        <title>DiscoFlix</title>
    </head>
    <body>

      {% block content %}
      {% endblock %}

    </body>

</html>