.messageWrapper(hx-swap-oob="beforeend:#chatLog")
  .chatMessageRow(
    class=isClient ? "botMsg" : "userMsg"
    style=accentColor ? `background-color: #${accentColor}07;` : ""
  )
    .chatContentContainer
      include message/messageAvatar
      .chatMessageContent()
        include message/messageAuthor
        include message/messageText
        //include message/messageTyping
