- var rowColor = accentColor || 'ffffff'
- var rowColorStyle = `background-color: #${rowColor}07; border-left: #${rowColor}30 5px solid`
.messageWrapper(hx-swap-oob="beforeend:#chatLog")
  .chatMessageRow(
    class=isClient ? "botMsg" : "userMsg"
    style=rowColorStyle
  )
    .chatContentContainer
      include message/messageAvatar
      .chatMessageContent()
        include message/messageAuthor
        include message/messageText
        //include message/messageTyping
