.messageWrapper(hx-swap-oob="beforeend:#chatLog")
  .chatMessageRow
    include message/messageAvatar
    .chatMessageContent()
      include message/messageAuthor
      include message/messageText
      //include message/messageTyping
