.messageWrapper(hx-swap-oob="beforeend:#chatLog")
  .chatMessageRow(class=isBot ? "botMsg" : "userMsg")
    .chatContentContainer
      include message/messageAvatar
      .chatMessageContent()
        include message/messageAuthor
        include message/messageText
        //include message/messageTyping
