- var rowColor = accentColor || 'ffffff'
- var rowColorStyle = `background-color: #${rowColor}07; box-shadow: inset 5px 0 0 #${rowColor}30;`
.messageWrapper(hx-swap-oob="beforeend:#chatLog")
  .chatMessageRow(
    class=isClient ? "botMsg" : "userMsg"
    style=rowColorStyle
  )
    .chatContentContainer
      include message/messageAvatar
      .chatMessageContent()
        include message/messageAuthor
        include message/messageText
        //include message/messageTyping
