- var avatarUrl = user.avatar_url
- var accentColor = `#${user.accent_color || 'ffffff'}`
- var isBot = user.is_bot
- var isClient = user.is_client
- var username = user.username
- var timeStamp = created_at 
- var messageText = content
- var rowColorStyle = `background-color: ${accentColor}03;`
.chatMessageRow(
  class=isClient ? "botMsg" : "userMsg"
  style=rowColorStyle
)

  .chatContentContainer
    include message/messageAvatar
    .chatMessageContent()
      include message/messageAuthor
      include message/messageText
      //include message/messageTyping
