include ../../../mixins/search
include ../../../mixins/notification

.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-lg
  .modal-content
    .modal-header
      h5.modal-title
        = title
        if readonly
          span.badge.ms-2.bg-secondary.small Read Only
      button.modal-close-button(type='button' data-bs-dismiss='modal' aria-label='Close') ×
    
    
    
    .modal-body
      if !isSingleton
        +SearchBar(type)
      #records-container.settings-records-container
        include _records

    .modal-footer
      +Notification
      button.modal-button.button-secondary(type='button' data-bs-dismiss='modal') Close
