doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css")
    script(src="https://unpkg.com/htmx.org@1.9.10" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2/dist/sweetalert2.js" crossorigin="anonymous")
    script(src="https://unpkg.com/htmx.org/dist/ext/ws.js")
    script(src="/js/source.js")

  body
    noscript Please enable JavaScript to access this website.
    block content
