doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/source.js")
    script(src="https://unpkg.com/htmx.org@1.9.10", crossorigin="anonymous")
    script(src="https://unpkg.com/htmx.org/dist/ext/ws.js")

  body
    noscript Please enable JavaScript to access this website.
    block content
    