.modal-dialog.modal-dialog-centered
  .modal-content
    .modal-header
      h5.modal-title Modal title
    .modal-body
      p Modal body text goes here.
    .modal-footer
      button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close