/* I'll put "chat" stylings here when I get to that point */

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #72767d;
}

.divider:not(:empty)::before {
  margin: 0 0.4em 0 1em
}

.divider:not(:empty)::after {
  margin: 0 1em 0 0.4em
}

.dividerText {
  color: #72767d;
  font-size: 14px;
}

.chatContainer {
  order: 3;
  flex-grow: 1;
  height: 100%;
  display: grid;
  grid-template-rows: 70px calc(100vh - 140px) 70px;
  width: min-content;
}

#chatLog {
  div:last-child:has(.endOfMessagesTime) {
    display: none;
  }

  .endOfMessagesDiv {
    text-align: center;
    margin: 20px 0;
  }

  .endOfMessagesTime {
    color: #72767d;
    font-size: 14px;
  }

  &:has(.chatMessageRow) {
    .noMessagesDiv {
      display: none;
    }
  }

  .noMessageText {
    color: #72767d;
    font-size: 14px;
  }
}

.messageChannelHeader {
  grid-row: 1;
  height: 70px;
  padding: 0px 11px 0px 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-server-list);
  display: flex;

  .messageChannelHeaderContent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hashTagIcon {
    width: 32px;
    height: 32px;
    color: var(--symbol);
  }

  .messageChannelHeaderText {
    margin-left: 8px;
  }
}

.messageContainer {
  grid-row: 2;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  min-height: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--dark-member-list) transparent;
  padding-bottom: 15px;
}

.messageContainerInner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatBarContainer {
  grid-row: 3;
  position: relative;
  height: 70px;
}

.floatingChatBar {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--chat-bar);
  width: calc(100% - 30px);

  border-radius: 8px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  font-size: 16px;

  .plusButton {
    border-radius: 50%;
    background: #99aab5;
    color: #40444b;
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .chatMessageInput {
    width: 100%;
    background: transparent;
    font-size: 16px;
    color: var(--text-gray);
    resize: horizontal;

  }
}

.chatMessageRow {
  display: flex;
  padding: 16px 0;
  width: 100%;

  &.botMsg {
    justify-content: flex-end;
  }

  &.userMsg {
    justify-content: flex-start;
  }

  .chatContentContainer {
    display: inline-flex;
    margin: 0 4%;
  }

  * {
    box-sizing: border-box;
  }

  .hidden {
    display: none !important;
  }
  
  .userAvatar {
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 16px;
    height: 48px;
    width: 48px;
  }

  .chatMessageContent {
    flex-grow: 1;
    font-size: 20px;

    .chatAuthor {
      display: flex;
      align-items: center;

      .chatAuthorUsername {
        font-weight: 400;
      }

      .chatMessageTag {
        border-radius: 4px;
        background: var(--dark-blurple);
        padding: 2px 4px;
        margin: 0 8px;
        font-size: 11px;
      }

      .chatMessageDate {
        color: var(--white);
        opacity: 0.25;
        font-size: 16px;
        min-width: 4em;
      }
    }

    .chatMessageText {
      white-space: break-spaces;
      margin: 8px 0 0 0;
      color: #ddd;
      font-size: 18px;
      word-break: break-word;

      &.empty {
        color: #666;
        display: flex;
        align-items: center;
      }
    }

  }
}

.ellipsis {
  display: flex;
  align-items: center;
  margin-right: 8px;
  color: #666;
  font-size: 18px;
  word-break: break-word;

  > div {
    margin-left: 1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ddd;
    animation: fade 1s ease-in-out infinite;

    &:first-child {
      animation-delay: -100ms;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
      opacity: .25;
  }
  100% {
      opacity: 1;
  }
}
