
/* Contains styling for the user bar */

.memberContainer {
  order: 4;
  height: 100%;
  align-self: flex-end;
  width: 270px;
  background-color: var(--dark-server-list);
  overflow-y: auto;
  scrollbar-width: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;
}
