.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #36393f;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    color: #dcddde;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.modal-header {
    padding: 16px 24px;
    border-bottom: 1px solid #202225;
    align-content: center;
}

.modal-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.modal-close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    color: #b9bbbe;
    cursor: pointer;
}

.modal-close-button:hover {
    color: #fff;
}

.modal-body {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    min-height: 200px;
}

.modal-footer {
    padding: 16px 24px;
    border-top: 1px solid #202225;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.modal-button {
    background-color: #5865f2;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #4752c4;
}

#modal-cancel-button {
    background-color: transparent;
    color: #b9bbbe;
}

#modal-cancel-button:hover {
    background-color: rgba(185, 187, 190, 0.1);
}

.modal-readonly-input {
    box-sizing: border-box;
    background-color: #2f3136;
    border: 1px solid #202225;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: #dcddde;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.modal-readonly-input:hover {
    background-color: #3a3c40;
    border-color: #5865f2;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;

    &:has(.loader),
    &:has(.switch input:checked+.slider:before) {
        animation: fadeIn 1s ease-in-out;
    }
} 


.switch {
    position: relative;
    margin: auto;
} 

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
} 

.slider {
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    cursor: pointer;
    background-color: #72767d;
    border-radius: 34px;
    height: 50px;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.2s;
} 

.slider:before {
    position: absolute;
    content: "";
    height: 42px;
    width: 42px;
    background-color: #fff;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    transition: transform 0.2s;
}

.switch input:checked+.slider {
    background-color: #3b5a7d;
}

.switch input:checked+.slider:before {
    transform: translateX(50px);
}

.switch:hover .slider {
    background-color: #5c5f66;
}

.switch input:checked:hover+.slider {
    background-color: #4752c4;
}

.loader {
    display: inline-grid;
    width: 90px;
    aspect-ratio: 1;
    animation: l3-0 5s steps(10) infinite;
  }
  .loader:before,
  .loader:after {
    content:"";
    grid-area: 1/1;
  }
  .loader:before {
    clip-path: polygon(100% 50%,90.45% 79.39%,65.45% 97.55%,34.55% 97.55%,9.55% 79.39%,0% 50%,9.55% 20.61%,34.55% 2.45%,65.45% 2.45%,90.45% 20.61%,100% 50%,85.6% 24.14%,63.6% 8.15%,36.4% 8.15%,14.4% 24.14%,6% 50%,14.4% 75.86%,36.4% 91.85%,63.6% 91.85%,85.6% 75.86%,94% 50%,85.6% 24.14%);
    background: #4752c4;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  }
  .loader:after {
    background: #5c5f66;
    clip-path: polygon(100% 50%,65.45% 97.55%,9.55% 79.39%,9.55% 20.61%,65.45% 2.45%);
    margin: 27%;
    translate: 46% 0;
    transform-origin: right;
    animation: l3-1 .5s linear infinite;
  }
  @keyframes l3-0 {to{rotate: 1turn}}
  @keyframes l3-1 {
    0%{rotate:  18deg}
    to{rotate: -18deg}
  }

  @keyframes fadeIn {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
  }