/* Styling for the user info box and controls, bottom left */

.userBox {
  position: absolute;
  bottom: 0;
  background-color: var(--user-box);
  width: 100%;
  height: 53px;
  margin-bottom: 0;
  display: flex;
  padding-block: 5px;
}

.userAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.userInfo {
  margin-left: 58px;
  margin-top: 10px;
  cursor: pointer;
}

.username {
  display: block !important;
  margin: 0;
  font-weight: bolder;
}

.discriminator {
  display: block !important;
  margin: 0;
  font-weight: lighter;
  color: var(--text-gray);
}

.userMenuIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
}

.botPowerIcon, .serverPowerIcon, .settingsIcon {
  padding: 3px;
  user-select: none;
  cursor: pointer;
}

.botPowerIcon svg, .serverPowerIcon svg, .settingsIcon svg {
  padding: 3px;
  height: 20px;
  width: 20px;
  fill: var(--iconColor);
}

.botPowerIcon:hover, .serverPowerIcon:hover, .settingsIcon:hover {
  background-color: var(--dark-bg);
}

.iconStrikethrough {
  fill: var(--red);
}

.userBoxShutdownContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s;
  font-family: var(--font-family) !important;
  margin: 8px;
  width: 100%;
  text-align: center;

  > #shutdownButton {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin:auto;
    width: auto;
    border-radius: 5px;
  }
  > #shutdownButton span {
    padding: 3px 8px;
    color: var(--senary);
  }
  &:hover > #shutdownButton,
  &.active > #shutdownButton {
    background-color: var(--quinary);
    > span {
      color: var(--white);
    }
  }
}

.userAvatarBubble {
  position: absolute;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  cursor: pointer;
  user-select: none;
}

.userAvatarBubble:hover {
  > .userAvatar {
    background-color: #000000;
  }
  
  opacity: 0.8;
}

.statusBubble {
  background-color: var(--yellow);
	width: 12px;
	height: 12px;
	position: absolute;
	bottom: -4px;
	right: -4px;
	border-radius: 50%;
	border: 4px solid var(--quaternary);
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	color: var(--white);
	content: "2";
	display: inline;
  visibility: hidden;
}

.statusBubble.offline {
  transition: 0.7ms;
  background-color: var(--red);
  visibility: visible !important;
}

.statusBubble.online {
  transition: 0.7ms;
  background-color: var(--green);
  visibility: visible !important;
}