/* Storing variables at the root scope */

:root {
  --dark-bg: #36393f;
  --dark-server-list: #202225;
  --server-divider: #2d2f32;
  --blurple: #7289da;
  --dark-blurple: #4d5e94;
  --green: #43b581;
  --dark-primary: #2f3136;
  --text-gray: #dcddde;
  --user-box: #292B2F;
  --iconColor: #b9bbbe;
  --red: #f84a4b;
  --yellow: #ffd000;

  
  --primary: #36393f;
  --secondary: #2f3136;
  --tertiary: rgb(32,34,37);
  --quaternary: #292b2f;
  --quinary: #393d42;
  --senary: #828386;
  
  --white: #fff;
  --gray: #8a8c90;
  --chat-input: rgb(64,68,75);
  --symbol: #74777a;
  --notification: #f84a4b;
  --discord: #6e86d6;
  --mention-detail: #f9a839;
  --mention-message: #413f3f;
  --link: #5d80d6;
  --rocketseat: #6633cc;
  --ifm-scrollbar-hover: #555;

  --font-family: 'Roboto', sans-serif;
}
