.channelViewOption(
  class=(isActiveChannel ? 'active' : 'inactive'),
  hx-get=!isActiveChannel && `/change-active-channel/${channel_id}`
)
  .channelViewOptionInfo
    include chatChannelHashIcon
    include chatChannelName
  .channelViewOptionConfig
    include chatChannelCreateInviteButton
    include chatChannelSettingsButton