.channelViewOption
  .channelViewOptionInfo
    include chatChannelHashIcon
    include chatChannelName
  .channelViewOptionConfig
    include chatChannelCreateInviteButton
    include chatChannelSettingsButton