if message
  #notification-container.notification-container(hx-swap-oob="true")
    .notification(
      _=`on load 
         add .show 
         wait 2s 
         remove .show 
         wait 300ms 
         remove me`
    )
      svg.notification-icon(viewBox="0 0 24 24" fill="none")
        path(d="M20 6L9 17l-5-5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
      span.notification-message= message