div.userBox
  img.userAvatar(src="https://cdn.discordapp.com/embed/avatars/0.png", alt="avatar")
  div.userInfo
    h4.username Username
    h6.discriminator #1234
  div.userMenuIcons

    // BOT AND SERVER POWER BUTTONS - STATEFUL
    div.botPowerIcon#botPowerToggle(hx-get="/toggle-bot", hx-select-oob="#serverSideBar:outerHTML")
      svg(aria-hidden="false" viewBox="0 0 16 16")
        path(d="m5.6836 1.9609-0.26953 0.04687c-0.074 0.013-1.8361 0.32913-3.2461 1.4531-0.817 0.746-2.168 4.8121-2.168 8.0391v0.13477l0.06641 0.11523c1.026 1.783 3.809 2.229 4.498 2.25l0.28321 0.00977 1.0586-1.6504-0.06445-0.04102c0.596 0.103 1.3052 0.18164 2.1582 0.18164 0.827 0 1.5185-0.07287 2.1035-0.17187l1.043 1.6797 0.28907-0.00781c0.689-0.021 3.472-0.467 4.498-2.25l0.06641-0.11523v-0.13477c0-3.227-1.3504-7.2936-2.1914-8.0606-1.385-1.101-3.1467-1.4186-3.2207-1.4316l-0.26953-0.04687-0.18555 0.19922c-0.051 0.054-0.44492 0.49993-0.66992 0.96093-0.666-0.105-1.2079-0.12109-1.4629-0.12109-0.254 0-0.79498 0.01905-1.459 0.12305-0.226-0.461-0.62283-0.90889-0.67383-0.96289l-0.1836-0.19922zm-0.36914 1.0938c0.078 0.098 0.15757 0.2074 0.22657 0.3164 0.179 0.331 0.32064 0.59977 0.43164 0.88477 0.963-0.237 1.7983-0.25586 2.0273-0.25586 0.232 0 1.0932 0.01958 2.0762 0.26758l0.41211-0.92774c-3e-3 -1e-3 -0.00481-9.5e-4 -0.00781-0.00195 0.064-0.097 0.13412-0.1952 0.20312-0.2832 0.504 0.125 1.6067 0.45653 2.4727 1.1445 0.439 0.401 1.8028 3.9112 1.8418 7.1602-0.696 1.041-2.4565 1.5102-3.3145 1.6172l-0.54101-0.87109c0.707-0.2 1.0745-0.40292 1.1035-0.41992l-0.49023-0.87305c-0.013 7e-3 -1.2719 0.6875-3.7559 0.6875s-3.7429-0.6805-3.7559-0.6875l-0.49023 0.87305c0.029 0.017 0.406 0.22183 1.125 0.42383l-0.5586 0.86718c-0.855-0.106-2.6214-0.57419-3.3184-1.6172 0.039-3.248 1.4005-6.7577 1.8145-7.1367 0.886-0.705 1.993-1.043 2.498-1.168zm-0.06445 2.9453c-0.965 0-1.75 0.897-1.75 2s0.785 2 1.75 2 1.75-0.897 1.75-2-0.785-2-1.75-2zm5.5 0c-0.965 0-1.75 0.897-1.75 2s0.785 2 1.75 2 1.75-0.897 1.75-2-0.785-2-1.75-2zm-5.5 1c0.406 0 0.75 0.458 0.75 1s-0.344 1-0.75 1-0.75-0.458-0.75-1 0.344-1 0.75-1zm5.5 0c0.406 0 0.75 0.458 0.75 1s-0.344 1-0.75 1-0.75-0.458-0.75-1 0.344-1 0.75-1z")
        unless state.discord_state
          line(x1="14.628" x2="1.372" y1="1.517" y2="14.483" stroke="#d44")
    div.serverPowerIcon#serverPowerToggle(hx-get="/toggle-power", hx-select-oob="#serverSideBar:outerHTML")
      svg(aria-hidden="false" viewBox="0 0 16 16")
        path(d="M7.5 1v7h1V1h-1z")
        path(d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z")
        unless state.app_state
          line(x1="14.628" x2="1.372" y1="1.517" y2="14.483" stroke="#d44")
    
    // SETTINGS BUTTON - STATELESS
    div.settingsIcon#settingsToggle
      svg(aria-hidden="false" viewBox="0 0 24 24")
        path(
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
        )