div.userBox
  img.userAvatar(src="https://cdn.discordapp.com/embed/avatars/0.png", alt="avatar")
  div.userInfo
    h4.username Username
    h6.discriminator #1234
  div.userMenuIcons
    div.mic#micToggle
    div.headphone#headphoneToggle
    div.settings#settingsToggle