/* Contains styling for the nav bar and server buttons */

.servers {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: row1-start;
  grid-row-end: 3;
  position: absolute;
  width: 70px;
  height: 100%;
  background-color: var(--dark-server-list);
  overflow-y: auto;
  scrollbar-width: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.servers::-webkit-scrollbar, .nav::-webkit-scrollbar {
  width: 0px;
}

.homeButton {
  position: relative;
  background-color: var(--dark-bg);
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.server {
  position: relative;
  background-color: var(--dark-bg);
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  cursor: pointer;
  transition: 0.2s;
}

.server img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  text-align: center;
  transition: 0.2s;
  user-select: none;
}

.server.ghost {
  opacity: 0.5;
  background-color: var(--light-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  z-index: 1000;
}

.invite {
  color: var(--green) !important;
  font-size: 48px;
}

.invite:hover {
  color: #FFFFFF !important;
  background-color: var(--green) !important;
}

.server.active, .server:hover {
  background-color: var(--blurple);
  border-radius: 30%;
  transition: 0.3s;
}

.server img:hover {
  border-radius: 30%;
  transition: 0.3s;
}

.server.active img {
  background-color: var(--blurple);
  border-radius: 30%;
  transition: 0.3s;
}

.homeButton:hover {
  background-color: var(--blurple);
  border-radius: 30%;
  transition: 0.3s;
}

.serverDivider {
  margin-top: 7px;
  width: 50%;
  background-color: var(--server-divider);
  height: 3px;
  border: none;
  border-radius: 15px;
}

#serverSideBar {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
  float:right;
  width: 20%;
  overflow: hidden;
  height: 100vh;
  background-color: var(--dark-primary);
  transition: width 0.6s ease;
}

#serverSideBar.expanded {
  width: 90%;
  overflow: auto;

  .guildSelectorName,
  .userInfo,
  .userMenuIcons,
  .channelViewContainer {
    opacity: 1;
    transition: opacity 1s ease .3s;
  }

  .guildSelectorName {
    position: initial;
    top: initial;
  }
}


#serverSideBar:not(.expanded) {
  .guildSelectorDropdown {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(90deg);
    color: var(--text-gray);
    cursor: pointer;
    border: 0px;
    outline: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .guildSelectorDropdown:hover {
    color: var(--blurple);
    transform: rotate(-90deg);
  }

  .navGuildItems{
    padding: 0;
  }
  .nav {
    overflow: hidden;
  }

  .guildSelectorName,
  .userInfo,
  .userMenuIcons,
  .channelViewContainer {
    opacity: 0;
  }

  .guildSelectorName {
    position:fixed;
    top:-1000vh;
  }
}

.navGuildItems {
  display: flex;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  padding: 0px 11px 0px 16px;
  background-color: var(--dark-primary);
  z-index: 2;
}

.guildOpener {
  margin-left: 5px;
}

.navGuild {
  border-bottom: 1px solid var(--dark-server-list);
}

.guildDropdown {
  margin-right: 43px;
}

.guildSelectorName {
  font-size: 16px !important;
  font-weight: bold;
  color: var(--text-gray);
  user-select: none;
  cursor: pointer;
  transition: opacity 0.2s ease 0s;
}

.guildSelectorDropdown {
  max-height: 56px;
  width: 28px;
  height: 28px;
  color: var(--text-gray);
  cursor: pointer;
  border: 0px;
  outline: 0px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition-property: transform, color, width, height; 
  transition-duration: 0.6s; 
  transition-timing-function: ease;
  transition-delay: 0.1s;

  &:hover {
    color: var(--blurple);
    transform: rotate(90deg);
    border-radius: 100%;
  }
}








/* The space between server banner and user info */
.channelViewContainer {
  background-color: var(--secondary);
  display: flex;
  grid-area: CL;
  flex-direction: column;
  padding: 0px 9.5px 0px 16px;
  transition: opacity 0.2s ease 0s;
}



/* The container for the channel-row containing name and config buttons */
.channelViewOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 3px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.2s;
  font-family: var(--font-family) !important;
  margin-top: 2px;

  > div {
    display: flex;
    align-items: center;
  }
  > div span {
    margin-left: 5px;
    color: var(--senary);
  }
  &:hover,
  &.active {
    background-color: var(--quinary);
    > div span {
      color: var(--white);
    }
    .channelViewOptionConfig {
      transition: 0.7ms;
      visibility: visible !important;
    }
  }

  &:hover > .channelViewOptionConfig {
    transition: 0.7ms;
    visibility: visible !important;
  }

  .channelViewOptionConfig {
    transition: 0.7ms;
    visibility: hidden;
  }
}


/* Contains channel name/type */
.channelViewOptionInfo {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.hashTagIcon {
  width: 20px;
  height: 20px;
  color: var(--symbol);
}
.channelViewOptionInfo span {
  margin-left: 5px;
}
.channelViewOption.active .channelViewOptionInfo span {
  color: var(--white);
}

/* Contains channel config buttons */
.channelViewOptionConfig svg {
  width: 16px;
  height: 16px;
  color: var(--symbol);
  cursor: pointer;
  transition: color 0.2s ease 0s;
}
.channelViewOptionConfig svg:last-child {
  margin-left: 4px;
}

/* The header above a group of channels */
.channelViewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 4px;
  > span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: var(--gray);
  }
}

.channelViewHeader > svg {
  width: 21px;
  height: 21px;
  color: var(--symbol);
  cursor: pointer;
}

