.chatEmbed(style="border-color: #00FFFF;")
  .chatEmbedContent
    .chatEmbedAuthor.hidden()
    .chatEmbedTitle.description.hidden()
    .chatEmbedDescription.description.hidden()
    .chatEmbedFields.hidden()
    .chatEmbedImage.chatMessageAttachment.hidden()
      img(src, alt, referrerpolicy="no-referrer")
    .chatEmbedfooter.hidden
      img.chatFooterIcon.hidden(src, alt, referrerpolicy="no-referrer")
      |  
      span.hidden()
      |  
      span.divider.hidden •
      |  
      span.hidden(data-timestamp)
  .chatEmbedthumbnail.hidden
    .chatEmbedAvatar.large
      img(src, referrerpolicy="no-referrer")