#userInfoContainer(hx-swap-oob="outerHTML")
  div.currentUserImage
    div.userAvatarBubble
      div.statusBubble(class=(discordBot.bot_username ? (state.discord_state ? 'online' : 'offline') : ''))
      img.userAvatar(
        src=(discordBot.bot_avatar_url || "https://cdn.discordapp.com/embed/avatars/0.png")
        alt="avatar"
      )
  div.userInfo
    h4.username !{discordBot.bot_username || "Unavailable"}
    h6.discriminator #!{discordBot.bot_discriminator || "1234"}